= form_tag product_orders_path, :remote => true do
  %article
    %label.amount
      %span
        = @payment

  %script.stripe-button{ :src => "https://checkout.stripe.com/v2/checkout.js", "data-amount" => @payment, "data-description" => "A month's subscription", "data-key" => "pk_test_ew9RcmZpC2SgyjPDHcJqm60r", "data-currency" => "usd" }

/ Rails.configuration.stripe[:publishable_key]
/ = form_tag product_orders_path(product), :remote => true do end
