= form_tag product_orders_path, :remote => true do
  %article
    %label.amount
      %span Amount: $5.00

  %script.stripe-button{ :src => "https://checkout.stripe.com/v2/checkout.js", "data-amount" => "500", "data-description" => "A month's subscription", "data-key" => Rails.configuration.stripe[:publishable_key] }

/ = form_tag product_orders_path(product), :remote => true do end
