/ Connect Shopping carts show page to this page


%h4
  Confirm Your Order

%table
  %thead
    %th
      Name
    %th
      Email
    %th  
      Phone      
    %th  
      Shipping Address
    %th
      Delivery Date
  %tbody
    %td  
      %input.large{name: "Name"}
    %td
      %input{type: "email", name: "Email"}
    %td
      %input{name: "Phone"}    
    %td
      %textarea{name: "Address", rows: 3}
    %td
      %input{name: "Date", type: "date", min: (Date.today+4), placeholder: (Date.today+4)}   


= button_to "Checkout", new_product_order_path, method: 'get'

%p 
  Please note that, currently, delivery is only available within Manhattan. All orders must be placed at least four (4) days in advance. So, if you orderd today, the earliest delivery date you could choose will be
  - date = Date.today+4 
  = "#{date.strftime("%b %d, %Y")}"