#user_container.twelve.columns
  #user-profile-pic.two
    %img{src: '#'}
  #user-info.six.columns
    %ul.inline-list
      %li
        Name
      %li
        Email
      %li
        Bio
  #user-btn-group
  #
