.row
  #about_image
    = image_tag("ouac-logo.jpg")

.row.serif
  %p Once upon A cupcake, founder and CCO (Chief Cupcake Officer) Lyndi Halpern had just started dating a guy who had a summer birthday and who loved ice cream cake. Ever the overthinker, (not to mention pleaser), she closed her eyes and tried to imagine a way to make ice cream cake something personal, whimsical, portable. The idea came to her in a blaze of Fantasia technicolor. A magic mirror. A slowly wilting rose. A kiss from her prince charming. Ice cream cupcakes!
  %p Completely customizable and addictively delicious, ice cream cupcakes are the happily ever after to every meal...or simply a sweet treat at any time of day, to tickle the taste buds of the princess or prince inside us all.
  %p Ice cream cupcakes are comprised of a homemade cookie or cake base, homemade ice cream and homemade topping. Lyndi is deeply committed to using the freshest, highest quality ingredients, creating both creative and classic combinations, and translating her passion and love to everyone her tastes her products.
