/ let's move these lines (through line 5) to the navbar or set it up so if are logged in thru twitter, the link doesn't show.
= link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter)
- if (twitter = current_user && current_user.identities.where(provider: 'twitter').first)
  %div
    %a{:href => "\#{twitter.url}", :target => "_blank"}#{image_tag twitter.image}

  
.row
  .large-12.columns
    %ul#slider{'data-orbit' => true}
      %li
        %img{src:"/IMG_0676.JPG"}
      %li
        %img{src: "/pretty-cupcake.jpg"}/
      %li
        %img{src:"/cupcake_cross_section.jpeg"}

.row
  .large-4.columns        
    %a{:href => "/menu"}
      %img{:src => "/cupcake_platter.png"}
        %a{:href => "/menu"}
          %h4 This will be seasonal menu
  .large-4.columns        
    %img{:src => "/cupcake-size.jpg"}
      %h4 This will be cupcake creator game
  .large-4.columns        
    %a{:href => "/cupcakes"}
      %img{:src => "/cupcake_cross_section.jpeg"}
        %a{:href => "/cupcakes"}
          %h4 This will be falling cupcake game        
  









    / .slideshow-wrapper
    /   .orbit-container.orbit-stack-on-small
    /     / %ul.orbit-slides-container{:data => {:options => "pause_on_hover:false; timer_speed:5000;", :orbit => ""}}
    /     %ul#slider{'data-orbit' => true}
    /       %li.active{:data => {:'orbit-slide' => ""}}
    /         %img{:src => "/IMG_0676.JPG"}
    /           .orbit-caption Image 1
    /       %li
    /         %img{:src => "/cupcake_cross_section.jpeg"}
    /           .orbit-caption Image 2 
    /     %a.orbit-prev{:href=>"#"}
    /       %span
    /     %a.orbit-next{:href=>"#"}
    /       %span        
    /     .orbit-timer
    /       %span
    /         .orbit-progress

    /   .orbit-bullets
    /     %li.active{:data => {:'orbit-slide-number' => "1"}}
    /     %li{:data => {:'orbit-slide-number' => "2"}}