
.row
  .large-12.columns
    %ul#slider{'data-orbit' => true}
      %li
        = image_tag("/slider_1.JPG")
      %li
        = image_tag("/slider_2.jpg")
      %li
        %img{src:"menu.jpg"}

.row
  .large-4.columns        
    %a{:href => "/products"}
      %img{:src => "/cupcake_platter.png"}
        %a{:href => "/products"}
          %h4 This will be seasonal menu
  .large-4.columns
    %a{:href => "/custom_creator"}        
      %img{:src => "/cupcake-size.jpg"}
        %a{:href => "/custom_creator"} 
          %h4 This will be cupcake creator game
  .large-4.columns        
    %a{:href => "/cupcakes"}
      %img{:src => "/cupcake_cross_section.jpeg"}
        %a{:href => "/cupcakes"}
          %h4 This will be falling cupcake game        
