%script
  = render partial: 'partials/js/custom_creator.js'

.row
  .small-5.columns
    %h4 Design your own ice cream cupcake!
  .small-7.columns
    %h4.step_1_instruction Step 1: Choose a cookie base!
    %h4.step_2_instruction.hidden Step 2: Choose an ice cream!
    %h4.step_3_instruction.hidden Step 3: Choose a frosting!
    %h4.step_4_instruction.hidden Step 4: Choose a topping!

.row
  .small-5.columns#creator_display
    /%img.creator_ingredient_display{:src => "toppings.jpg"}
    /%img.creator_ingredient_display{:src => "frosting.jpg"}
    /%img.creator_ingredient_display{:src => "ice_cream.jpg"}
    /%img.creator_ingredient_display{:src => "cookie.jpg"}
    #topping
      Topping
    #frosting
      Frosting
    #icecream
      Filling
    #cookie
      Crust
  .small-7.columns
    %h5#creator_instructions Instructions for what to do, user capabilities once they have finished(order custom creation, name it and/or share it on facebook). Any restrictions on quantity and required time window for placing a custom order.
    %button.large#start_creator "Let's Make An Ice Cream Cupcake!"
  %form.step_1{method: "post"}
    .small-7.columns.step_1_div.hidden
      .step_1{:align => "center"}
        %h5 Cookie Base Choices
        %input.step_1_radio{:checked => "", :name => "step_1", :type => "radio", :"data-value" => "Chocolate Chip Cookie",:"data-image" => '#333333'} Chocolate Chip Cookie
        %br/
        %input.step_1_radio{:name => "step_1", :type => "radio", :"data-value" => "Crumbled Oreo", :"data-image" => 'black'} Crumbled Oreo
        %br/
        %input.step_1_radio{:name => "step_1", :type => "radio", :"data-value" => "Graham Cracker", :"data-image" => '#9E8600'} Graham Cracker
        %hr/ 
        %h5 Gluten-Free Options
        %input.step_1_radio{:name => "step_1", :type => "radio", :"data-value" => "Flourless Chocolate Cake", :"data-image" => '#C2680E'} Flourless Chocolate Cake
        %br/
        %input.step_1_radio{:name => "step_1", :type => "radio", :"data-value" => "Flourless Peanut Butter Cookie", :"data-image" => '#A6952B'} Flourless Peanut Butter Cookie
        %button.step_1_button "Make Cookie Selection"

    .small-7.columns.step_2_div.hidden
      .step_2{:align => "center"}
        %h5 Ice Cream Choices
        %input.step_2_radio{:checked => "", :name => "step_2", :type => "radio", :"data-value" => "Mint Chocolate Chip"} Mint Chocolate Chip
        %br/
        %input.step_2_radio{:name => "step_2", :type => "radio", :"data-value" => "Vanilla Bean", :"data-image" => '#9E8600'} Vanilla Bean
        %br/
        %input.step_2_radio{:name => "step_2", :type => "radio", :"data-value" => "Toasted Marshmallow", :"data-image" => '#9E8600'} Toasted Marshmallow
        %br/
        %input.step_2_radio{:name => "step_2", :type => "radio", :"data-value" => "Peanut Butter Banana", :"data-image" => '#9E8600'} Peanut Butter Banana
        %hr/ 
        %h5 Dairy-Free Options
        %input.step_2_radio{:name => "step_2", :type => "radio", :"data-value" => "Chocolate Sorbet", :"data-image" => '#9E8600'} Chocolate Sorbet
        %br/
        %input.step_2_radio{:name => "step_2", :type => "radio", :"data-value" => "Vanilla Frozen Yogurt", :"data-image" => '#9E8600'} Vanilla Frozen Yogurt
        %br/
        %button.step_2_button "Make Ice Cream Selection"

    .small-7.columns.step_3_div.hidden
      .step_3{:align => "center"}
        %h5 Frosting Choices
        %input.step_3_radio{:checked => "", :name => "step_3", :type => "radio", :"data-value" => "Whipped Cream", :"data-image" => '#9E8600'} Whipped Cream
        %br/
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Mascarpone Whipped Cream", :"data-image" => '#9E8600'} Mascarpone Whipped Cream
        %br/
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Tea-Infused Whipped Cream", :"data-image" => '#9E8600'} Tea-Infused Whipped Cream
        %hr/ 
        %h5 Dairy-Free Options
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Fluff", :"data-image" => '#9E8600'} Fluff
        %br/
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Chocolate Fluff", :"data-image" => '#9E8600'} Chocolate Fluff
        %br/
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Chocolate Soy Whipped Cream", :"data-image" => '#9E8600'} Chocolate Soy Whipped Cream
        %br/
        %input.step_3_radio{:name => "step_3", :type => "radio", :"data-value" => "Chocolate Peanut Butter Soy Whipped Cream", :"data-image" => '#9E8600'} Chocolate Peanut Butter Soy Whipped Cream
        %p *All frosting choices are gluten-free
        %button.step_3_button "Make Frosting Selection"

    .small-7.columns.step_4_div.hidden
      .step_4{:align => "center"}
        %h5 Topping Choices
        %input.step_4_radio{:checked => "", :name => "step_4", :type => "radio", :"data-value" => "Crumbled Oreo", :"data-image" => '#9E8600'} Crumbled Oreo
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Rice Krispy Treat Cluster", :"data-image" => '#9E8600'} Rice Krispy Treat Cluster
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Raspberry Drizzle", :"data-image" => '#9E8600'} Raspberry Drizzle
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Chocolate Shavings", :"data-image" => '#9E8600'} Chocolate Shavings
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Salted Caramel Drizzle", :"data-image" => '#9E8600'} Salted Caramel Drizzle
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Homemade Peanut Butter Cup Piece", :"data-image" => '#9E8600'} Homemade Peanut Butter Cup Piece
        %br/
        %input.step_4_radio{:name => "step_4", :type => "radio", :"data-value" => "Candied Lemon Peel", :"data-image" => '#9E8600'} Candied Lemon Peel
        %br/
        %button.step_4_button "Add this to my cart!" 



